body{
    color:#00a6fb;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

.main{
    background-image: url("https://media.giphy.com/media/9bTjZrytydVRK/giphy.gif");
    background-size: cover;
    padding: 60px;
    margin-bottom: 30px;
}

.spacex-logo{
    width:100px;
}

.btn{
    padding: 8px 20px;
    background-color: white;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #00a6fb;
}
.underline{
    border-bottom: 4px solid white;
    text-shadow: 0px 0px 1px white;
}